@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #5429FF;
    --background-color: #FFFFFF;
    --sec-background: #F1F2F6;
    --Main-Text: #1B1A17;
    --sec-Text: #7A797D;
    --inputfield: #F7F8FD;
    --Notification: #F2994A;
    --High-priprity-task: #EB5757;
    --Medium-priprity-task: #F2994A;
    --Low-priprity-task: #C8D9CF;
    --Success: #219653;
    --border-color: #EAEAEA;
    --higher-Warning: #EB5757;
    --info: #2F80ED;
}
body{
    background: var(--sec-background);
}


